button {
    color: white;
    background: #2196f3;
    border: none;
    cursor: pointer;
    width: 100%;
    height: 54px;
}
a{
    text-decoration: none;
    color: white;
}
.imagepersp{
    width: 100%;
    // height: 50px;
}
.lmar{
    margin-block: 3%;
}