<div class="container">
    <div class="row lmar">

    </div>
    <div class="row">
        <div class="col-md-3">
            <img class="imagepersp" src="../../assets/perspective/T39/SDB.jpg" alt="">
            <a href="{{url}}assets/visite/T39/SDB/index.html"><button class="btn-primary"> Visiter</button></a>
        </div>
        <div class="col-md-3">
            <img class="imagepersp" src="../../assets/perspective/T39/SDB.jpg" alt="">
            <a href="{{url}}assets/visite/T39/SDB/index.html"><button class="btn-primary"> Visiter</button> </a>
        </div>
        <div class="col-md-3">
            <img class="imagepersp" src="../../assets/perspective/T39/SDB.jpg" alt="">
            <a href="{{url}}assets/visite/T39/SDB/index.html"><button class="btn-primary"> Visiter</button> </a>
    
        </div>
        <div class="col-md-3">
            <img class="imagepersp" src="../../assets/perspective/T39/SDB.jpg" alt="">
            <a href="{{url}}assets/visite/T39/SDB/index.html"><button class="btn-primary"> Visiter</button> </a>
    </div>
    </div>
</div>
