/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
@import '~primeicons/primeicons.css';
@import '~primeng/resources/themes/saga-blue/theme.css';
@import '~primeng/resources/primeng.min.css';
@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap/scss/bootstrap';

// fonts
@font-face {
  font-family: "CircularStdBlack";
  src: local("CircularStdBlack"), url(./assets/fonts/CircularStd-Black.otf) format("truetype");
}

@font-face {
  font-family: "CircularStdBook";
  src: local("CircularStdBook"), url(./assets/fonts/CircularStd-Book.otf) format("truetype");
}

@font-face {
  font-family: "VinciSansBold";
  src: local("VinciSansBold"), url(./assets/fonts/VinciSansBold.otf) format("truetype");
}

@font-face {
  font-family: "VinciSansRegular";
  src: local("VinciSansRegular"), url(./assets/fonts/VinciSansRegular.otf) format("truetype");
}

@font-face {
  font-family: "VinciSerifBold";
  src: local("VinciSerifBold"), url(./assets/fonts/VinciSerifBold.otf) format("truetype");
}

@font-face {
  font-family: "VinciSerifRegular";
  src: local("VinciSerifRegular"), url(./assets/fonts/VinciSerifRegular.otf) format("truetype");
}
// OWL CAROUSEL NAV
body {
  margin: 0 !important;
}

.owl-prev,
.owl-next {
  top: 50%;
  margin: 0 !important;
  margin-top: -20px !important;
  position: absolute;
  padding: 0;
  display: inline-block;
  width: 35px;
  height: 40px;
  border-radius: 50% !important;
  line-height: 47px;
  padding: 0;
  border: 2px solid #c72f2f !important;
  overflow: hidden;
  background-color: transparent !important;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.owl-prev {
  left: 15vw;
}

.owl-next {
  right: 15vw;
}

.owl-prev i:before,
.owl-next i:before {
  margin: 0;
  font-size: 10px;
  color: #fff;
  font-weight: 900;
  transform: translateX(0);
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  display: inline-block;
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.owl-prev:before,
.owl-next:before {
  content: "⟵";
  font-family: Flaticon;
  width: 100%;
  height: 100%;
  position: absolute;
  bottom: 11px;
  left: 0px;
  color: #fff;
  font-size: 10px;
  background-position: center center;
  background-size: cover;
  border-radius: 50%;
  transform: scale(2);
  transition: all 0.3s;
  -webkit-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  -moz-transition: all 0.3s;
}

.owl-prev:hover {
  transform: scale(1.3);
}

.owl-next:before {
  content: "⟶";
}

.owl-next:hover {
  transform: scale(1.3);
}

.active .item {
  opacity: 1 !important;
  transform: scale(1) !important;
}

@media (max-width: 740px) {
  .owl-next,
  .owl-prev {
    display: none !important;
  }
}

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';
